 {{#each recipes}}
<div class="content" id="main">

   
    <main>
        <section id="add-recipes">
            <h2>Add a new recipe</h2>
         
          </section>
          
          <section id="input-recipes">
            <h2>Input Your Recipes</h2>
            <form>
              <label for="recipe-name">Recipe Name:</label>
              <input type="text" id="recipe-name" name="recipe-name">
              <br>
              <label for="directions">Directions:</label>
              <textarea id="directions" name="directions"></textarea>
              <br>
              <input type="submit" value="Save!">
            </form>
          </section>
          
          <section id="random-recipe">
            <h2>Random Recipe</h2>
            <button id="generate-random">I'm feeling adventurous</button>
          </section>
    </main>
        </div>
      </div>

   
  {{/each}}
